<template>
    <tr>
        <td class="product_remove" v-on:click.prevent="$emit('delete-item')"><a href="#"><i class="fa fa-trash-o"></i></a></td>
        <td class="product_thumb"><a href="#"><img v-bind:src="`/assets/img/product/${detail.image}`"
                                                   alt=""></a></td>
        <td class="product_name"><a href="#">{{ detail.name }}</a></td>
        <td class="product-price">{{ detail.price | toLocaleString }} VNĐ</td>
        <td class="product_quantity"><input min="0" max="100" v-bind:value="detail.qty" type="number"></td>
        <td class="product_total">{{ (Number(detail.price)*detail.qty) | toLocaleString }} VNĐ</td>
    </tr>
</template>

<script>
    export default {
        name: "CartItem",
        props: {
            detail: Object
        },
        filters: {
            toLocaleString(value) {
                return Number(value).toLocaleString();
            }
        }
    }
</script>

<style scoped>

</style>