<template>
    <div class="col-lg-4 col-md-6">
        <div class="single_product">
            <div class="product_thumb">
                <a href="product-details.html"><img v-bind:src="`/assets/img/product/${detail.image}`" alt=""></a>
                <div class="btn_quickview">
                    <a href="#" data-toggle="modal" data-target="#modal_box"  title="Quick View"><i class="ion-ios-eye"></i></a>
                </div>
            </div>
            <div class="product_content">
                <div class="product_ratting">
                    <ul>
                        <li><a href="#"><i class="ion-star"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <h3><a href="product-details.html">{{ detail.name }}</a></h3>
                <div class="product_price">
                    <span class="current_price">${{ detail.price }}</span>
                </div>
                <div class="product_action">
                    <ul>
                        <li class="product_cart"><a href="#" title="Add to Cart" v-on:click.prevent="$emit('add-cart')">Add to Cart</a></li>
                        <li class="add_links"><a href="#" title="Add to Wishlist"><i class="ion-ios-heart-outline"></i></a></li>
                        <li class="add_links"><a href="#" title="Add to Compare"><i class="ion-loop"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductItem",
        props: {
            detail: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>